kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
nodes:
- role: control-plane
- role: worker
  extraPortMappings:
  - containerPort: 30000
    hostPort: 30000
    listenAddress: "0.0.0.0" 
- role: worker
  extraPortMappings:
  - containerPort: 30001
    hostPort: 30001
    listenAddress: "0.0.0.0" 
- role: worker
  extraPortMappings:
  - containerPort: 30002
    hostPort: 30002
    listenAddress: "0.0.0.0" 